04-analytics-engineering/ingest_taxidata_2019_2020.yaml
id: ingest_green_taxi_to_gcs
namespace: zoomcamp

variables:
  months:
    ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
  base_url: "https://d37ci6vzurychx.cloudfront.net/trip-data"
  # Ändere dies nach dem ersten Run auf "2020"
  year: "2019"
  taxi_type: "green"

tasks:
  - id: for_each_month
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{vars.months}}"
    tasks:
      - id: download
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: alpine:3.19
        commands:
          - apk add --no-cache curl
          - FILE="{{vars.taxi_type}}_tripdata_{{vars.year}}-{{taskrun.value}}.parquet"
          - curl -L -sS "{{vars.base_url}}/${FILE}" -o data.parquet
        outputFiles:
          - "data.parquet"

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.download[taskrun.value].outputFiles['data.parquet']}}"
        # Erstellt einen Ordner "green/2019" oder "green/2020" in deinem Bucket
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.taxi_type}}/{{vars.year}}/{{vars.taxi_type}}_tripdata_{{vars.year}}-{{taskrun.value}}.parquet"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
