03-Data-Warehouse-BigQuery/ingest_yellow_2024_to_gcs.yaml
id: ingest_yellow_2024_to_gcs
namespace: zoomcamp

variables:
  months:
    ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
  base_url: "https://d37ci6vzurychx.cloudfront.net/trip-data"
  gcs_prefix: "yellow/2024"

tasks:
  - id: for_each_month
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{vars.months}}"
    tasks:
      - id: download
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: alpine:3.19
        commands:
          - apk add --no-cache curl
          - FILE="yellow_tripdata_2024-{{taskrun.value}}.parquet"
          - curl -L -sS "{{vars.base_url}}/${FILE}" -o data.parquet
        outputFiles:
          - "data.parquet"

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        # Notice the [taskrun.value] added below
        from: "{{outputs.download[taskrun.value].outputFiles['data.parquet']}}"
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.gcs_prefix}}/yellow_tripdata_2024-{{taskrun.value}}.parquet"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
